@import 'normilize.css';

html,
body {
	height: 100%;
}
body {
	font: 14px/17px 'Open Sans', Arial, Helvetica, sans-serif;
	min-width: 320px;
	color: #fff;
	background: #2a2a2a;
}
li {
	list-style-type: none;
}
a {
	color: #ccc;
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
.holder {
	max-width: 1024px;
	margin: 0 auto;
}
.wrap {
	min-height: 100%;

}
.active {
	transform: scale(1.2);
}
.active a {
	color: #46a146;
}


.presentation {
	background: #de2b24;
}


/*flip animation */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	border: 1px solid #ccc;
}

	.flip-container:hover .gallery-box,  
  .flip-container.hover .gallery-box {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 427px;
}

.gallery-box {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #f8f8f8;
}



footer {
	position: relative;
	background: #000;
	width:100%;
    min-height:70px;
    margin-top:-70px;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}
.footer-wrap {
	display: flex;
    justify-content: space-between;
}
.social ul {
	display: flex;
	justify-content: space-around;
    font-size: 20px;
}
address {
	float: right;
	text-transform: none;
}
.copyright {
	float: left;
	font-size: 12px;
}