@media only screen and (max-width: 1024px) {
    .presentation .holder {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 525px) {
    .presentation .holder .gallery-block {
        flex-direction: column;
        align-items: center;
    }
}
